@{
    ViewData[ViewDataCommonValues.Title] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <a class="btn btn-outline-primary" asp-area="Administration" asp-controller="FamilyMembers" asp-action="Index">Family Members</a>
</div>
