@using Microsoft.Extensions.Localization
@using WebUi.Areas.Administration
@using Microsoft.AspNetCore.Mvc.Localization
@model WebUi.Areas.Administration.FamilyMembers.Detail.ViewModel

@inject IStringLocalizer<FamilyMembersController> StringLocalizer
@inject IViewLocalizer ViewLocalizer

@{
    ViewData[ViewDataCommonValues.Title] = "Detail";
}

<form asp-action="Update" method="post">
    <input type="hidden" asp-for="Id"/>

    <div class="mb-3">
        <label asp-for="FirstName" class="form-label">@ViewLocalizer["FirstName"]:</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="LastName" class="form-label">@ViewLocalizer["LastName"]:</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    

    <input class="btn btn-primary" type="submit" value="@ViewLocalizer["Save"]" />

</form>