@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity is { IsAuthenticated: true })
{
    <p>Willkommen, @User.Identity.Name</p>
    
    @foreach (var claim in User.Claims)
    {
        <p>@claim.Value</p>
    }
    
    
}
else
{
    <p>Nicht angemeldet</p>
}